{{template "base" .}}

{{define "content"}}

    <!-- Content of the about page -->
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="mt-3">This will be the contact page</h1>
            </div>
        </div>

    </div>

{{end}}